body {
  margin: 0;
  padding: 0;
  background: url('homem.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  color: #fff;
}

.container {
  padding: 20px;
  max-width: 600px;
  margin: 60px auto 80px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
}

h1 {
  text-align: center;
  color: red;
  margin-bottom: 30px;
}

input, select {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: 2px solid red;
  border-radius: 12px;
  background-color: black;
  color: white;
  font-size: 16px;
}

input::placeholder {
  color: #aaa;
}

.btn-continuar {
  margin-top: 30px;
  width: 100%;
  background-color: red;
  color: white;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

.processing {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  display: none;
  color: #ffcc00;
  animation: piscar 1s infinite;
}

@keyframes piscar {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}

.mensagem-pagamento {
  display: none;
  padding: 20px;
  background: #ff0000;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 12px red;
  margin-top: 30px;
}
